.ring:hover
{
	fill: white;
	opacity: 0.3;
}

h2
{
	font-family: 'Impact';
	color: #AAA;
}

h1
{
	font-family: 'Impact';
	color: gray;
}

.boh
{
	font-family: 'Impact';
	color: gray;
	padding-left: 80;
}

.sportIcon:hover
{
	opacity: 0.3 !important;
	cursor: pointer;
}

.sportLabel
{
	fill: #0099ff;
}

#iconsSVG
{
/*	border-style: solid;
border-width: 5px;*/
}

.Male {
	stroke: #00baff;
}

.Female {
	stroke: #f000ff;
}


div.tooltip {   
	position: absolute;
	text-align: center;
	width: 30px;
	height: 10px;
	padding: 2px;
	font: 10px arial;
	background: lightGray;
	border: 0px;
	/*border-radius: 8px;           */
	pointer-events: none;
}